.image-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.image-list ul li {
    width: 700px;
    display: grid;
    margin: 0;
    gap: 8px;
    grid-template-areas: "logo title";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    max-height: 200px;
}

.image-list ul li > * {
    margin: 0 !important;
}

/* title */
.image-list ul li > :first-child {
    grid-area: title;
    padding: 0 8px;
    font-size: large;
    vertical-align: middle;
    max-height: 100%;
}

/* image */
.image-list ul li  img {
    padding: 8px;
    max-height: 200px;
}
